:host {
  position: relative;
  display: block;
}

.dimension-card {
  width: 100%;
  min-width: 200px;

  .word-cloud-wrap {
    text-align: center;
  }

  &.dimension-detail {
    box-shadow: 0 6px 13px rgba(0,0,0,0.16);
  }
  .dimension-heading,
  .dimension-content {
    padding: 10px;
  }
  .dimension-heading {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2f75bb;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    .title {
      text-transform: uppercase;
      vertical-align: text-bottom;
    }
    .score {
      text-align: right;
      font-size: 24px;
    }
  }
  .dimension-content {
    font-size: 16px;
  }
}
.dimension-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
}