.browser-wrap {
  display: flex;
  justify-content: flex-start;

  .browser-detail {
    margin-right: 30px;
    margin-left: 30px;
    min-width: 125px;
    display: flex;
    justify-content: space-between;
    line-height: 1;

    .name {
      img {
        max-width: 40px;
        height: auto;
      }
    }
    .score {
      font-size: 40px;
      font-weight: bold;
    }
  }

  .details-wrap {
    width: 100%;
    margin-bottom: 20px;

    .card-wrap {
      max-width: 50%;
    }
  }
}

.grid-layout-manager {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .grid-item {
    position: relative;
    padding-bottom: 30px;
    padding-right: 30px;
    min-height: 250px;
  }
}

@media (max-width: 1024px) {
  .browser-wrap {
    .details-wrap {
      .card-wrap {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .browser-wrap {
    display: block;

    .browser-detail {
      justify-content: flex-start;
      margin-bottom: 30px;
      margin-left: 0;

      .name {
        margin-right: 30px;
      }
    }

    .details-wrap {
      .card-wrap {
        max-width: 100%;
      }
    }
  }
}
