<div class='dimension-card dimension-detail' [class.cloud]="dimension.type === 'associative'">
  <div class='dimension-heading'>
    <div class='title'>{{dimension.dimensionType}}</div>
    <div class='score'>{{dimension.score}}</div>
  </div>
  <div class='dimension-content'>
    <div *ngFor='let line of dimension.description'>{{line}}</div>
  </div>
  <div class='dimension-breakout'>
    <div class='breakout-title'>Score distribution</div>
    <score-breakdown [scores]='scoreBreakout' [max]='scoreCount' [labelWidth]='labelWidth'></score-breakdown>
  </div>
</div>