.task-manager {
  padding-bottom: 50px;
  background-color: #d8dfe7;

  .task-area {
    align-items: stretch;
    margin-top: -30px;
    margin-bottom: 70px;
  }
}

.feedback-heading {
  padding: 20px 15px;
  color: white;
  background-color: #00aed1;
}

.task-card-wrap {
  margin-top: 30px;
}
