<div class='container-fluid task-manager' *ngIf='taskList && taskList.length'>
  <div class="row task-area">
    <div class='col-3 task-card-wrap' [@cardState]='cardState' *ngFor="let task of taskList">
      <task-card
        [task]='task'
        [selected]='selectedTask.id === task.id'></task-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <section class='feedback-wrap'>

          <div class='feedback-heading'>
            <h2>{{selectedTask.taskType}}</h2>
            <div>{{selectedTask.description}}</div>
          </div>

          <div style='padding: 50px 15px;background-color:white'>

            <div *ngIf='browserList.length'>
              <div class='dimension-details-wrap' *ngFor='let browser of browserList'>
                <dimension-details-manager [browser]='browser'></dimension-details-manager>
              </div>
            </div>

            <browser-manager></browser-manager>
          </div>

        </section>
    </div>
  </div>
</div>