.task-card-wrap {
  background-color: white;
  box-shadow: 0 6px 13px rgba(0,0,0,0.16);
  padding: 25px;
  margin-bottom: 30px;
  border: 2px solid transparent;
  transition: border 0.5s ease-in-out;
  cursor: pointer;

  &.selected {
    border: 2px solid blue;
  }
}
