.task-manager {
  padding-bottom: 50px;
  background-color: #d8dfe7;

  .task-area {
    align-items: stretch;
    margin-top: -30px;
    margin-bottom: 20px;

    .task-card-wrap {
      padding-right: 30px;
      padding-bottom: 30px;
      width: 100%;
      min-width: 350px;
      max-width: 50%;
    }
  }
}

.feedback-heading {
  padding: 20px 15px;
  color: white;
  background-color: #00aed1;
}

.dimension-details-wrap {
  padding: 50px 15px;
  background-color: white;
}

.task-card-wrap {
  margin-top: 30px;
}


@media (max-width: 768px) {
  .task-manager {
    .task-area {
      .task-card-wrap {
        max-width: 100%;
      }
    }
  }
}
