.task-manager {
  padding-bottom: 50px;
  background-color: #d8dfe7;
}

.feedback-heading {
  padding: 20px 15px;
  color: white;
  background-color: #00aed1;
}

.dimension-details-wrap {
  padding: 50px 15px;
  background-color: white;
}

.grid-layout-manager {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .grid-item {
    position: relative;
    padding-bottom: 30px;
    padding-right: 30px;
    min-height: 250px;
  }
}
