.card {
  position: relative;

  margin: 0 5px 20px;
  padding: 0;
  border: 1px solid #cccccc;

  border-radius: 10px;

// box-shadow: 4px 4px 8px 0 rgba(50, 50, 50, 0.18);
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16); // level 2
  box-shadow: 0 6px 13px rgba(0,0,0,0.16); // level 3

  .card-inner {
    padding: 20px;
  }

  .username {
    margin-bottom: 10px;
  }

  .score-average {
    margin-bottom: 15px;

    font-size: 30px;

    color: goldenrod;
  }

  .scores {
    margin-bottom: 15px;

    font-size: 12px;
  }

  .dimension-title {
    margin-bottom: 5px;

    font-size: 14px;
  }
  .dimension {
    position: relative;
    overflow: hidden;

    margin-bottom: 15px;

    font-size: 16px;
    line-height: 18px;

    color: green;

    .negative {
      color: firebrick;
    }
  }

  .verbatim {
    margin-bottom: 15px;
  }

  .video-responsive {
    width: 100%;
    height: auto;
  }
}
.video-poster {
  max-width: 100%;
}
