:host {
  position: relative;
  display: block;
}

.top-issues-wrap {
  margin-bottom: 40px;

  .top-issues-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #ef4835;
  }
  .top-issues {
    padding-left: 20px;

    li {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
