
<header></header>

<div id='experiences' class='container-fluid'>

  <div class='row' style='margin-bottom:50px;'>
    <div class="col-xs-12">
      <h3>Studies found</h3>
      <ul class='test'>
        <li *ngFor='let study of studies'>{{study.name}}</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>Browsers found</h3>
      <ul class='test'>
        <li *ngFor='let browser of browsers'>{{browser.name}}: {{browser.count}} total responses</li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      <button (click)='simSort()' class='btn btn-default' style='margin:20px;'>sim sort</button>
    </div>
  </div>

  <div class='row'>
    <div class="col-xs-12">

      <div
        class='grid-layout-manager'
        infinite-scroll
        [immediate]='true'
        [callback]="fetchMore"
        [reset]='click$'>
        <div class='grid-item-sizer' *ngFor='let card of cardData'>
          <div class='grid-item new'>

            <feedback-card [cardData]='card'></feedback-card>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>