:host,
.browser-manager {
  position: relative;
  display: block;
}

.controls-wrap {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .control {
    margin-right: 30px;
  }
}

.feedback-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #00aed1;
}
