<div *ngIf='browserCount'>
  <div class="row">
    <div class="col">
      <div class='feedback-heading center'>
        <h2>Task Feedback</h2>
        <div>Please share a bit about your experience with this task, and why you gave the rating you did?</div>
      </div>
    </div>
  </div>
  <div class="row controls-wrap">
    <div class="col">
      <browser-picker></browser-picker>
    </div>
  </div>
  <div class="row">
    <div class='col' *ngFor='let browser of browserList'>
      <feedback-manager [browser]='browser' [cellWidth]='cellWidth'></feedback-manager>
    </div>
  </div>
</div>