:host,
.feedback-manager {
  position: relative;
  display: block;
}

.grid-layout-manager {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;

  .grid-wrap {
    position: relative;
    overflow: visible;
    padding-right: 5px;
    padding-left: 5px;
  }
  .grid-item {
    position: relative;
  }
}
