:host,
.feedback-manager {
  position: relative;
  display: block;
}

.grid-layout-manager {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;

  .grid-wrap {
    position: relative;
    overflow: visible;
    padding-right: 5px;
    padding-left: 5px;
  }
  .grid-item {
    position: relative;
  }
}

.grid-item-sizer {
  width: 100%;
}

@media (min-width: 701px) {
  .grid-item-sizer {
    width: 50%;
  }
}
@media (min-width: 1051px) {
  .grid-item-sizer {
    width: 33%;
  }
}
@media (min-width: 1401px) {
  .grid-item-sizer {
    width: 25%;
  }
}
@media (min-width: 1751px) {
  .grid-item-sizer {
    width: 20%;
  }
}
@media (min-width: 2101px) {
  .grid-item-sizer {
    width: 16.66%;
  }
}
@media (min-width: 2451px) {
  .grid-item-sizer {
    width: 14.28%;
  }
}
