:host,
.feedback-manager {
  position: relative;
  display: block;
}

.title {
  margin-bottom: 25px;
}

.grid-layout-manager {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .grid-item {
    position: relative;
  }
}
