.card {
  position: relative;
  margin: 0 5px 20px;
  padding: 0;
  border: 1px solid #cccccc;

  // box-shadow: 4px 4px 8px 0 rgba(50, 50, 50, 0.18);
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16); // level 2
  box-shadow: 0 6px 13px rgba(0,0,0,0.16); // level 3

  word-wrap: normal !important;

  .card-inner {
    padding: 20px;
  }

  .username {
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .score-average {
    margin-bottom: 15px;
    font-size: 30px;
    color: goldenrod;
  }

  .scores {
    margin-bottom: 15px;
    font-size: 12px;
  }

  .dimension-title {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .dimension {
    position: relative;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
    color: green;

    .negative {
      color: firebrick;
    }
  }

  .verbatim {
    margin-bottom: 15px;
  }

  .video-responsive {
    width: 100%;
    height: auto;
  }
}
.video-poster {
  max-width: 100%;
}
