<section id='experiences' class='experiences-wrap'>
  <div class='container-fluid'>

    <div class='title'>
      <h1>Experiences</h1>
    </div>

    <div class='tab-wrap'>
      <div *ngFor='let experience of experiences' class='tab' (click)='selectExperience(experience)'>
        <div class='tab-content' [class.selected]='!!selectedExperience && selectedExperience.type.id === experience.type.id'>
          <span class='title'>{{experience.type.title}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='experience-details' *ngIf='!!selectedExperience'>
  <div class='container insights-wrap' *ngIf='selectedExperience'>
    <div class='row'>
      <div class='col'>
        <div class='insight-title'>\ Research Insights</div>
      </div>
    </div>
    <div class="row">
      <div class="col summary">{{selectedExperience.summary}}</div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='insight' *ngFor='let insight of selectedExperience.insights'>{{insight}}</div>
      </div>
    </div>
  </div>
  <div class='container top-issues-wrap' *ngIf='selectedExperience.topIssues.length'>
    <div class='row'>
      <div class='col'>
        <div class='top-issues-title'>\ Top Issues {{selectedExperience.topIssues.length}}</div>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='top-issue' *ngFor='let topIssue of selectedExperience.topIssues'>{{topIssue.description}}</div>
      </div>
    </div>
  </div>
</section>
<task-manager [study]='selectedStudy' [experience]='selectedExperience'></task-manager>