<section id='experiences' class='experiences-wrap'>
  <div class='container-fluid'>

    <div class='title'>
      <h1>Experiences</h1>
    </div>

    <div class='tab-wrap'>
      <div *ngFor='let experience of experiences' class='tab' (click)='selectExperience(experience)'>
        <div class='tab-content' [class.selected]='!!selectedExperience && selectedExperience.type.id === experience.type.id'>
          <span class='title'>{{experience.type.title}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class='exp-content-wrap'>
  <div [@state]='state' *ngFor='let exp of [selectedExperience]'>
    <experience-insights *ngIf='selectedExperience' [experience]='selectedExperience'></experience-insights>
    <experience-top-issues *ngIf='selectedExperience' [experience]='selectedExperience'></experience-top-issues>
    <task-manager [study]='selectedStudy' [experience]='selectedExperience'></task-manager>
  </div>
</div>