:host {
  position: relative;
  display: block;
}

.insight-wrap {
  margin-bottom: 40px;

  .insight-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #ef4835;
  }
  .insight {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .insight:last-child {
    margin-bottom: 0;
  }
}
