.panel {
  position: absolute;
  display: block;
  top: 100%;
  min-width: 200px;
  padding: 10px 0;
  color: black;
  background-color: white;
  z-index: 100;
  box-shadow: 0 6px 13px rgba(0,0,0,0.16);
  transform: scale(1.20);

  .item {
    padding: 5px 10px 5px 5px;
    text-align: left;

    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
    &.one:hover {
      background-color: white;
      cursor: default;
    }
    i {
      width: 20px;
      margin-left: 10px;
    }
  }
}
