@import '../variables.scss';

:host {
  position: relative;
  display: block;
  min-height: 300px;
  color: white;
  background-color: $theme-primary;
  margin-bottom: 40px;
  box-shadow: 0 6px 13px rgba(0,0,0,0.16);
}
.left-menu,
.right-menu {
  margin-bottom: 15px;
}
.saga-mark {
  width: 60px;
  height: auto;
}
.scorecard-title {
  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 45px;
  font-weight: bolder;
}
.saga-attribution {
  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.study-description {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
