@import '../variables.scss';

:host {
  position: relative;
  display: block;

  min-height: 300px;

  color: white;
  background-color: $theme-primary;
}
.left-menu,
.right-menu {
  margin-bottom: 15px;
}
.saga-mark {
  width: 60px;
  height: auto;
}
.scorecard-title {
  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 45px;
  font-weight: bolder;
}
.saga-attribution {
  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.study-description {
  margin-top: 60px;
  margin-bottom: 40px;

  font-family: 'Segoe UI', 'SegoeUISemiBold', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
