<div class='container-fluid'>
  <div class='row no-gutters'>

    <div class='col-sm left-menu'>
      <study-picker></study-picker>
    </div>
    <div class='col-sm right-menu'>
      <header-nav></header-nav>
    </div>

  </div>
</div>

<div class='container-fluid'>
  <div class='center'>
    <img class='saga-mark' src='/assets/images/saga-mark.svg' />
  </div>

  <div class='center'>
    <h1 class='scorecard-title'>Experience Scorecard</h1>
  </div>

  <div class='center'>
    <!-- <span class='saga-attribution'>&mdash; Brought to you by SAGA, the team behind Microsoft Edge &mdash;</span> -->
  </div>
</div>

<div class='container'>
  <div class='center study-description'>We tested <strong>five experiences</strong> on Microsoft Edge and Chrome across <strong>120 participants</strong> globally using a cloud based UR method. Here is what we found.</div>
</div>