:host {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.word-cloud {
  margin: 0 auto;
  width: 100%;
  min-width: 200px;
  background-color: transparent;
}
