<div class='summary-wrap'>
  <div class='container-fluid'>

    <div class='summary-table'>
      <div class='summary-row headings'>
        <div class='summary-cell picker'>
          <browser-picker></browser-picker>
        </div>
        <div class='summary-cell overall-score'></div>
        <div class='summary-cell experience' *ngFor='let experience of experiences'>{{experience.type.title}}</div>
      </div>
      <div class='summary-row item' *ngFor='let summary of filteredSummaries'>
        <div class='summary-cell name'>{{summary.name}}</div>
        <div class='summary-cell overall-score'>{{summary.score}}</div>
        <div class='summary-cell experience' *ngFor='let experience of summary.experiences' [class.cloud]='experience.score === 0'>
          <div class='score' *ngIf='experience.score !== 0'>{{experience.score}}</div>
          <div class='wordMap' *ngIf='experience.score === 0'>
            <word-cloud [words]='experience.words'></word-cloud>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>